/* FONTES */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MODO CLARO (PADRÃO) */
:root {
  --primary-color: #6366f1; /* indigo-500 */
  --primary-color-text: #ffffff;
  
  --surface-ground: #f8fafc; /* slate-50 */
  --surface-header: #eef2ff; /* indigo-50 */
  --surface-card: #ffffff;
  --surface-border: #e2e8f0; /* slate-200 */
  
  --text-color: #334155; /* slate-700 */
  --text-color-secondary: #64748b; /* slate-500 */
}

/* MODO ESCURO */
.dark-mode {
  --primary-color: #818cf8; /* indigo-400 */
  --primary-color-text: #1e1b4b; /* indigo-950 */

  --surface-ground: #0f172a; /* slate-900 */
  --surface-header: #1e293b; /* slate-800 */
  --surface-card: #1e293b;   /* slate-800 */
  --surface-border: #334155; /* slate-700 */

  --text-color: #f1f5f9; /* slate-100 */
  --text-color-secondary: #94a3b8; /* slate-400 */
} 